{% extends 'accounts/settings-base.html' %}

{% load widget_tweaks %}

{% block main_setting %}
    <!-- Account setting tab START -->
    <div class="tab-pane show active fade" id="nav-setting-tab-1">
    <!-- Account settings START -->
        <!-- Change your password START -->
        <div class="card">
            <!-- Title START -->
            <div class="card-header border-0 pb-0">
            <h5 class="card-title">Change your password</h5>
            <p class="mb-0">See resolved goodness felicity shy civility domestic had but.</p>
            {% if password_change_done %}
            <p class="mb-0">Your password has been changed successfully</p>
            {% endif %}
            {% if form.errors %}
            <p class="mb-0">Please correct the error below.</p>
            {% endif %}
            </div>
            <!-- Title START -->
            <div class="card-body">
            <!-- Settings START -->
            <form class="row g-3" method='post'>
                {% csrf_token %}
                <!-- Current password -->
                <div class="col-12">
                <label class="form-label">Current password</label>
                {% if form.old_password.errors %}
                 <p class="mb-0" style="background-color:red!important">{{ form.old_password.errors }}</p>
                {% endif %}
                {% render_field form.old_password type="text" class="form-control" placeholder="" %}
                </div>
                <!-- New password -->
                <div class="col-12">
                <label class="form-label">New password</label>
                {% if form.new_password1.errors %}
                <p class="mb-0 text-danger">{{ form.new_password1.errors }}</p>
                {% endif %}
                <!-- Input group -->
                <div class="input-group">
                    {% render_field form.new_password1 class="form-control fakepassword" type="password" id="psw-input" placeholder="Enter new password" %}
                    <span class="input-group-text p-0">
                    <i class="fakepasswordicon fa-solid fa-eye-slash cursor-pointer p-2 w-40px"></i>
                    </span>
                </div>
                <!-- Pswmeter -->
                <div id="pswmeter" class="mt-2"></div>
                <div id="pswmeter-message" class="rounded mt-1"></div>
                </div>
                <!-- Confirm password -->
                <div class="col-12">
                <label class="form-label">Confirm password</label>
                {% if form.new_password2.errors %}
                    <p class="mb-0 text-danger">{{ form.new_password2.errors }}</p>
                {% endif %}
                {% render_field form.new_password2 type="text" class="form-control" placeholder="" %}
                </div>
                <!-- Button  -->
                <div class="col-12 text-end">
                <button type="submit" class="btn btn-primary mb-0">Update password</button>
                </div>
            </form>
            <!-- Settings END -->
            </div>
        </div>
        <!-- Card END -->
    </div>
    <!-- Account setting tab END -->
{% endblock %}